--- 
layout: default 
---
<div id="single">
  <h1 class="single__title">{{ page.title }}</h1>
  <span>Category: {{ page.categories[0] }},</span>
  <span class="single__date">{{ page.date | date: "%Y-%m-%d" }}</span> 
  <article class="single__article">
  {% if page.toc %}
  <div class="toc-container">
    <h2 id="toc-title" class="toc-title">목차</h2>
    {{ content | toc_only }}
  </div>
  {% endif %}
  {{ content }}
  </article>
  {% include related-posts.html %}
</div>